@import "./materialize/css/materialize.min.css";

body {
    text-align: center;
}
.container {
    position:fixed;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.title {
    position: relative;
    color: white;
    padding: 70px;
    margin: 0;
    font-size: 4rem;
    text-align: center;
}

.btn-floating {
    text-align: right;
    position: relative;
    float: right;
    right: 20px;
    transform:translateY(-50%);
    background-color: white;
}

.mode-select {
    position: relative;
    height: fill;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.img-circle {
    display: block;
    position: relative;
    border-radius: 60%;
    top: 50%;
    left: 50%;
    transform:translateX(-50%);
    margin-top: 80px;
    /* margin-right: -50%; */
}

/* Makes any image into a circle */
.img-btn {
    display: block;
    position: relative;
    border-radius: 60%;
    position: relative;
    top: 50%;
    left: 50%;
}

.upper-half {
    position: relative;
    top: 0;
    background-color: #2196F3;
    margin: 0;
}

.hidden {
    display: none;
}

#game-dummy {
    background-image: url("../images/dummy-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
